    
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Categorias</title>
</head>
<body>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descricão</th>
                </tr>     
            </thead>
            <tbody>
                @foreach (var categoria in ViewBag.Categoria)
                {
                    <tr>
                        <td>@categoria.Id</td>
                        <td>@categoria.Nome</td>
                    </tr>
                }
            </tbody>
        </table> 
    </div>
</body>
</html>
